<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cd.tech.report.dao.AreaMapper">
    <!-- 这里namespace必须是UserMapper接口的路径” -->

    <!-- 这里的id必须和UserMapper接口中的接口方法名相同 -->
    <select id="getId" resultType="Long" parameterType="java.lang.String">
        select id from sys_area where name=#{name} and level = 2
    </select>

    <select id="getProvincesAndCitys" resultType="com.cd.tech.report.model.Area" >
        select a.name, b.name as cityName, b.id from sys_area a join sys_area b on b.parent_id = a.id
    </select>
</mapper>